<style>
  .btn-search {
    background-color: #fe424d;
    color: floralwhite;
    border-radius: 25px;
    padding: 0 1rem;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }

  .btn-search:hover {
    background-color: #e02a36; /* Darker shade for hover */
    color: #fff;
  }

  .btn-search i {
    margin-right: 0.5rem;
  }

  .search-container {
    display: flex;
    align-items: center; /* Center the items vertically */
  }

  .search-container .form-control {
    border-radius: 25px 0 0 25px; /* Rounded corners for the input */
  }

  .search-container .btn-search {
    border-radius: 0 25px 25px 0; /* Rounded corners for the button */
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <div class="search-container">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search listings..." aria-label="Search listings">
            <button class="btn btn-search" type="submit" aria-label="Search the listings">
              <i class="fa-solid fa-magnifying-glass"></i> Search
            </button>
          </form>
        </div>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Log in</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
